
* {
    --blue-light: rgb(119, 203, 241);
    --orange: orange;
    color: black;
}

body {
    background-color: var(--blue-light);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    /* text align is horizontal*/
    text-align: center;
    /* align items is vertical*/
    align-items: center;
}
header {
    display: flex;
    flex-direction: column;
    /* text align is horizontal*/
    text-align: center;
    /* align items is vertical*/
    align-items: center;
}

.logo {
    width: 150px;
    height: 150px;
    background-color: var(--orange);
    display: flex;
    justify-content: center;
    text-align: center; 
    align-items: center;
    border: solid black 4px;
    border-radius: 50%;
    
}

.logo p {
    background-color: black;
    color: var(--orange);
    font-size: 1.5rem;
    padding: 1.5rem;
    border-radius: 20%;
}

nav a {
    text-decoration: none;
    background-color: black;
    color: var(--blue-light);
    padding: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 15%;
}

.training-option{
    margin-top: 15dvw;
    background-color: var(--orange);
    padding: 0.5rem;
    border-radius: 5%;
}
.training-option img {
    width: 65dvw;
    border-radius: 5%;
}

@media screen and (min-width: 600px) {
    main {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-around;
        text-align: center;
        /* align items is vertical*/
        align-items: center;
    }

    .training-option {
        margin-top: 5dvw;
    }
    
    .training-option img{
        width: 200px;
        height: 200px;
        
    }
}